@model IEnumerable<scaffoldingCRUD.Models.Cancha>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpresaNavigation.IdEmpresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCancha">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCancha">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCancha">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
